<ion-tabs class="menu" #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="buildings" class="selected">
      <img src="/assets/icons/{{buildingsIcon}}" class="menu-icon">
      <!-- <ion-label>Buildings</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="map">
      <img src="/assets/icons/{{mapIcon}}" class="menu-icon">
      <!-- <ion-label>Map</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="search">
      <img src="/assets/icons/{{searchIcon}}" class="menu-icon">
      <!-- <ion-label>Search</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <img src="/assets/icons/{{notificationsIcon}}" class="menu-icon">
      <!-- <ion-label>Notifications</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <img src="/assets/icons/{{inboxIcon}}" class="menu-icon">
      <!-- <ion-label>Inbox</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>