<app-header></app-header>
<app-menu></app-menu>
<ion-content>
    <app-add-btn></app-add-btn>
    <div class="maps">
        <google-map height="600px" width="100%"  [center]="center" [options]="options">
            <map-marker
            #markerElem="mapMarker"
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            (mapClick)="openInfo(markerElem, marker.info)"
          >
          </map-marker>
        </google-map>
    </div>
</ion-content>