<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" style="display: block; margin-right: 10px;" (click)="dismiss()">
      <ion-icon name="close" style="font-size:30px; color:var(--main-color)"></ion-icon>
    </ion-buttons>
    <ion-title class="title">Add Building</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addBuildingForm" (ngSubmit)="submitForm()" style="height:100%">

    <ion-slides (ionSlideNextStart)="onSlideNext()" (ionSlidePrevStart)="onSlidePrev()" [options]="slideOpts" #slides>
      <ion-slide>
        <div class="input-field">
          <div class="input-title">
            Please give a title
          </div>
          <input class="input" formControlName="title" placeholder="Title" type="text">
          <div *ngIf="errorControl.title.touched || btnClicked">
            <div *ngIf="errorControl.title.errors?.required" class="error">
              Title is required
            </div>
          </div>
        </div>
        <div class="my-button main-button" (click)="nextStep('title')">
          NEXT
        </div>
      </ion-slide>
      <ion-slide>
        <div class="input-field">
          <div class="input-title">
            Please give a short description
          </div>
          <textarea rows="3" class="input" formControlName="description" placeholder="Description"
            type="text"></textarea>
          <div *ngIf="errorControl.description.touched || btnClicked">
            <div *ngIf="errorControl.description.errors?.required" class="error">
              Description is required
            </div>
          </div>
        </div>
        <div class="my-button main-button" (click)="nextStep('description')">
          NEXT
        </div>
      </ion-slide>
      <ion-slide>
        <div class="input-field">
          <div class="input-title">
            Please give a few tags
          </div>
          <textarea rows="3" class="input" formControlName="tags" placeholder="Tag1, Tag2, Tag3, etc."
            type="text"></textarea>
          <div *ngIf="errorControl.tags.touched || btnClicked">
            <div *ngIf="errorControl.tags.errors?.required" class="error">
              Tags are required
            </div>
          </div>
        </div>
        <div class="my-button main-button" (click)="nextStep('tags')">
          NEXT
        </div>
      </ion-slide>
      <ion-slide>
        <div class="input-field">
          <div class="input-title">
            Please upload some photos
          </div>
          <div class="upload-msg">
            <app-take-photo></app-take-photo>
            <div>or</div>
            <app-upload-files (onUploadFinished)="onUploadFinished($event)"></app-upload-files>
            <div *ngIf="showError" class="error">
              Photos are required
            </div>
          </div>

        </div>
        <div class="my-button main-button" (click)="nextStep('files')">
          Next
        </div>
      </ion-slide>
      <ion-slide>
        <!-- <div class="input-field">
          <div class="input-title">
            Please add building location
          </div>
          <div class="my-button f-s-24">
            Use your current location (already saved)
          </div>
          <div>
            or
          </div>
          <input type="text" ngx-google-places-autocomplete class="input" placeholder="Type another location"
            (onAddressChange)="AddressChange($event)" formControlName="location" />
        </div>
        <div class="my-button main-button" (click)="nextStep('place')">
          Upload Building
        </div> -->
        <div *ngIf="!showDropPin" class="location-use">
          <div class="f-s-24">
            Do you allow Mud Buddy to use your location?
          </div>
          <div class="my-button main-button radius-button" style="margin-top: 10px; width:150px" (click)="locationPosition()">
            Yes, I do
          </div>
          <div class="f-s-24 abs-bottom" (click)="toggleDropPin()">
            Otherwise, <span class="main-link-button">Drop a pin</span> 
          </div>
        </div>
        <div *ngIf="showDropPin">
          <app-drop-pin (pinPositionChanged)="onPinPositionChanged($event)"></app-drop-pin>
          <div class="my-button main-button abs-bottom radius-button" style="width:150px; left: calc(50% - 90px)" (click)="nextStep('place')">
            Drop pin!
          </div>
        </div>
      </ion-slide>
      <ion-slide style="padding-bottom: 0">
        <div class="added f-f-sc">
          <div class="f-s-48">
            MUD BUDDY
          </div>
          <div class="f-s-32" style="margin:20px">
            is happy!!!<br>
            You just added a <br>
            new building!
          </div>
          <div>
            <img src="/assets/icons/house.svg" style="width:60px; margin-top:20px;">
          </div>
        </div>
        <div class="my-button white-button abs-bottom-button" (click)="dismiss()">
          Close
        </div>
      </ion-slide>
    </ion-slides>

  </form>
</ion-content>