.auth {
    font-size: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    .auth-line {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        .main-link-button {
            padding-bottom: 0px;
            border-bottom: 1px solid var(--main-color);
        }
    }
}
.guest-line {
    position: absolute;
    bottom: 30px;
    transform: translateX(-50%);
    left: 50%;
}
