<div class="menu">
  <div class="expand-arrow" (click)="toggleMenu()" #expand>
    <img src="/assets/icons/expand.svg" #expandArrowIcon>
  </div>
  <div class="menu-items" *ngIf="show" [@grow] id="menuItems">
    <div class="item" (click)="navigate('/tabs/buildings')">LIST</div>
    <div class="item" (click)="navigate('/tabs/map')">MAP</div>
    <div class="item" (click)="navigate('/tabs/events')">EVENTS</div>
    <div class="item" (click)="navigate('/tabs/organizations')">ORGANISATIONS</div>
    <div class="item" (click)="navigate('/tabs/legislation-normatives')">LEGISLATION & NORMATIVES</div>
  </div>
</div>