/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

@import url("../src/assets/css/buttons.scss");

/* Global css variables */
:root {
    --main-color: #520d0d;
    --error-color: #a34949;
    --black-color: #131313;
    --my-gray: rgb(220, 224, 229);
}

.input-field {
    font-size: 18px;
    // padding: 20px 20px 0px 0;
    padding: 10px;
    box-sizing: border-box;
    .input-title {
        color: var(--black-color);
    }
    .input {
        margin-top: 10px;
        color: var(--black-color);
        width: 100%;
        box-sizing: border-box;
        border: 1px solid var(--my-gray);
        border-radius: 10px;
        padding: 11px;
        font-size: 18px;
    }
}

.error {
    color: var(--error-color);
    padding: 5px;
}

.header-title {
    font-family: "Amatic SC", cursive;
    color: var(--main-color);
    font-size: 23px;
}